.category-headline {
  margin: 1.3rem 0px 0px 1.2rem;
  font-family: "Crimson Text", serif;
}
.categories-container {
  margin: 1rem;
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 10px;
}

.cloth-item {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 10px;
  width: 100%;
  border: 1px solid lightpink;
  transition: all 0.4s ease-in-out;
}

.cloth-item img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
}

.cloth-item p {
  font-weight: bold;
  flex-grow: 1;
}

.cloth-item i {
  cursor: pointer;
  font-size: 1.2rem;
  padding: 6px;
  color: #ef2853;
  border-radius: 50%;
  border: none;
  background-color: #f8e6e2;
}

.cloth-item:hover {
  background: linear-gradient(to left, white, #fff3b0);
  transform: translateY(-5px); /* Subtle upward movement */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1050px) {
  .categories-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 810px) {
  .categories-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 520px) {
  .categories-container {
    grid-template-columns: 1fr;
  }
}
